# Terraform directories
.terraform/
.terraform.lock.hcl

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*
crash.log

# Local variable files
# *.tfvars
*.tfvars.json

# Terraform override files
*.tfoverride
*_override.tf

# Ignore local logs
*.log
